###################################################################################################
#########################SERVER FIVEM | PACK RECIPE LYCUSCODER#####################################
###################################################################################################

## Anda bisa mengkonfigurasi server dengan cara merubah ini:
{{serverEndpoints}}
sv_maxclients {{maxClients}}
set steam_webApiKey "none"
sets tags "default, indo, indonesia, roleplay, polisi, ems, mechanic, starterpack, badside, drugs"

sv_licenseKey "{{svLicense}}"
sv_hostname "{{serverName}} dibuat dengan resep fivem {{recipeName}} oleh {{recipeAuthor}}!"
sets sv_projectName "[{{recipeName}}] {{serverName}}"
sets sv_projectDesc "{{recipeDescription}}"
sets locale "root-AQ" 

sets DEV "LycusCoder"
sets WEBSITE "lycuscoder.id"
sets UPTIME "ALWAYS"
###################################################################################################


## Ini adalah Resouces scrip default harap jangan ubah 
ensure mapmanager
ensure chat
ensure spawnmanager
ensure sessionmanager
ensure basic-gamemode
ensure hardcap

###################################################################################################

## Konfigurasi Sistem admin
add_ace group.admin command allow # allow all commands
add_ace group.admin command.quit deny # but don't allow quit
{{addPrincipalsMaster}}
